.wrapper {
    height: 100%;
    overflow: hidden;
}

.conteiner {
    max-width: 1708px;
    margin: 0 auto;
}

.head-div {
    display: flex;
    justify-content: space-between;

}

.ul-nav {
    display: flex;
    
}