.body {
    padding-top: 150px;
}

.wrapper {
    height: 100%;
    overflow: hidden;
}

.conteiner {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    width: 100%;
    position: fixed;
    padding-top: 50px;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: white;

}


.web {
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 900;
    color: #3D37F1;

}

.Ui {
    font-family: 'Lato';
    font-size: 32px;
    font-weight: 300;
    color: #4B647E
}

.head-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.ul-nav {
    display: flex;
}

.nav-link1:not(:last-child) {
    margin-right: 20px;
}

.nav-link {
    font-family: 'Lato';
    font-size: 20px;
    font-weight: 900;
    color: #3D37F1;
    line-height: 400%;
}

.burger {
    display: none;
}

.burgerlogo {
    max-width: 70px;
}

/* -----------------------------------section--------------------------------------------------------- */

.sec-1 {
    margin-top: ;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.text-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title {
    font-family: 'Lato';
    font-weight: 900;
    font-size: 78px;
    line-height: 85%;
    color: #534D4D;
}

.subtitle {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 22px;
    line-height: 7%;
    color: #534D4D;
}